body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0%;
    background-color: antiquewhite;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #98ac04;
    color: white;
    padding: 15px;
}

header h1 {
    margin: 0;
}

header span {
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* This will stack items vertically */
    text-align: center;
}

main h2 {
    font-size: 2em;
    color: #98ac04;
}

button {
    padding: 10px 20px;
    background: #98ac04;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttons-container {
    display: flex;
    gap: 10px; /* Add spacing between buttons */
    margin-top: 20px; /* Adds space between text and buttons */
}